button#tournesol-details-button {
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Roboto', 'Noto', sans-serif;
  color: #f3bd00;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
}

#tournesol-stats-panel {
  text-transform: initial;
  background: white;
  position: absolute;
  z-index: 1000;
  left: 0px;
  border-radius: 15px;
  border-width: 5px;
  border-color: #234600;
  border-style: solid;
}

#tournesol-stats-panel .js-plotly-plot {
  border-radius: inherit;
  overflow: hidden;
}
